PRIVATE_KEY=<your_ethereum_private_key>
AKAVE_SDK_NODE="connect.akave.ai:5000"
AKAVE_IPC_NODE="connect.akave.ai:5500"
ETHEREUM_NODE_URL="https://n3-us.akave.ai/ext/bc/2JMWNmZbYvWcJRPPy1siaDBZaDGTDAaqXoY5UBKh4YrhNFzEce/rpc"
STORAGE_CONTRACT_ADDRESS="0x9Aa8ff1604280d66577ecB5051a3833a983Ca3aF"
ACCESS_CONTRACT_ADDRESS="0xABCDEF"
